<mat-form-field>
  <input type="text" matInput [(ngModel)]="backgroundImage" placeholder="Link ảnh" required>
</mat-form-field>
<div class="mat-form-field-wrapper">
  <button mat-raised-button color="primary" class="text-uppercase btn-block" appOpenModalImage [isMultiple]="false" [component]="component">Thay đổi ảnh</button>
</div>
<app-colorpicker label="Màu nền" [color]="component.contentStyle['background-color']" (changeColor)="component.contentStyle['background-color']=$event"></app-colorpicker>
