<div class="edit-element">
    <ul>
      <li matTooltipPosition="above" matTooltip="Nhân bản">
        <a (click)="clonePopup($event)">
          <i class="material-icons">filter_none</i>
        </a>
      </li>
      <li matTooltipPosition="above" matTooltip="Xóa">
        <a (click)="deletePopup($event)">
          <i class="ion-ios-trash-outline"></i>
        </a>
      </li>
      <li matTooltipPosition="above" matTooltip="Thoát">
        <a (click)="closePopup($event)">
          <i class="material-icons">highlight_off</i>
        </a>
      </li>
    </ul>
  </div>
