<mat-form-field>
  <input type="text" pattern="[A-Za-z0-9]+" matInput placeholder="Tên trường" [(ngModel)]="formControl.name" required />
</mat-form-field>
<mat-form-field>
  <input type="text" matInput placeholder="Gợi ý" [(ngModel)]="formControl.placeholder" required />
</mat-form-field>
<p>
  <mat-checkbox color="primary" [ngModel]="formControl?.required" (ngModelChange)="formControl.required=!formControl.required">
    Bắt buộc nhập</mat-checkbox>
</p>
<button mat-raised-button [color]="'primary'" class="btn-block" *ngIf="component.type===componenType.FORM_SELECT"
(click)="manageOptions()">Tùy chỉnh tập giá trị</button>
